<div class="flex-container">
  <div *ngFor="let ite of weatherData">
    <p class="forecastHeadline">{{"Today's Weather"|translate}}</p>
    <i *ngIf="ite.isDay" class="fas fa-3x fa-sun sun"></i>

    <i *ngIf="!ite.isDay" class="fas fa-3x fa-moon moon"></i>

    <div class="cloudDiv">
      <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <p style="margin-top: 20px">{{ "temp" | translate }} : {{ ite.temp }}°C</p>
    <p>{{ "Sunrise" | translate }} : {{ ite.sunrise }}</p>
    <p>{{ "Sunset" | translate }} : {{ ite.sunset }}</p>
    <p style="font-size: 20px">
      {{ "Contry" | translate }} :
      <!-- <span style="font-size:large;"> {{ ite.countryName }}</span></p> -->

      {{ ite.countryName | translate }}
    </p>
  </div>

  <div *ngFor="let item of forecastArr">
    <p class="forecastHeadline">{{"Forecast Weather" |translate}}</p>

    <i class="fas fa-3x fa-moon moon"></i>
    <br />
    <div class="cloudDiv">
      <i class="fas fa-water fa-3x cloud"></i>
    </div>
    <p style="margin-top: 20px">{{'Date'|translate}} : {{ item.date * 1000 | localizedDate }}</p>
    <p>{{'temp'|translate}} :{{ item.temp }}°C</p>
    <p>{{'Sea level'|translate}} : {{ item.seaLevel }}</p>
  </div>
</div>
